.effect{
    width: 110px;
    height: 110px;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.5s;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container main{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
}